streamlit
numpy
pandas
pillow
plotly
opencv-python-headless
tensorflow
scikit-learn
joblib
matplotlib
streamlit-drawable-canvas
reportlab
qrcode
python-dotenv
PyMuPDF
python-docx
python-pptx
openpyxl
